.cart-container{
    position: relative;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-container .cart-details{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 15px;
    background: white;
    border: 1px solid rgb(202, 202, 202);

    overflow-y: auto;   

}

.cart-container .cart-details .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
padding: 10px;
border-bottom: 1px dashed rgb(204, 204, 204);
}
.cart-container .heading h3{
    /* border: 1px solid black; */
    color:#007fe0;
    
}
.cart-container  .btn{
    display: flex;
    align-items: center;
  gap: 5px;
    border-radius: 20px;
    text-transform: capitalize;
    font-family: Poppins,sans-serif;
}
.cart-container .heading .btn .icon{
    display: flex;
    align-items: center;

}

.cart-container .cart-details .close-modal{
    font-size: 16px;
    background: transparent;
    border: 1px solid #007fe0;
    padding: 7px 20px;
    border-radius: 50px;
    color:#007fe0;
    transition: all .3s;
}




.cart-container .cart-details .List::-webkit-scrollbar {
    display: none;
  }
  .cart-container .cart-details .empty-cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    height: 100%;
  }
  .cart-container .cart-details .empty-cart .img{
    margin: 10px 0;

  }
  .cart-container .cart-details .empty-cart .empty-text{
    text-align: center;
    font-family :Poppins, sans-serif;
    padding: 10px 0;
    
  }
  .cart-container .cart-details .empty-cart .empty-text p{
    font-weight: 600;
    font-size: 14px; 
    color: #999;

}
/* If cart is Not Empty */


.cart-container .cart-details .List .list-actions{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}
.cart-container .cart-details .List .list-actions .delete{
    
    display: flex;
    align-items: center; 
    border: 1px solid rgb(156, 156, 156);
    border-radius: 50%;
    padding: 5px;

    vertical-align: middle;
    color: #818799;
}

.cart-container .cart-details .List .list-actions .action .inc-dec{
    display: flex;
    align-items: center;
    padding: 5px ;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid skyblue;


}
.cart-container .cart-details .List .list-actions .action .inc-dec .icon{
    font-size: 13px;
}
.cart-container .cart-details .cart-available{
    position: relative;
    height: 100%;
    overflow: hidden;
}
.cart-container .cart-details .price-info{
    padding: 20px 10px;
    background: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    
}
.cart-container .cart-details .price-info  span{
    float: right;
}
.cart-container .cart-details .price-info .total-price{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cart-container .cart-details .price-info .total-price p{
    color:#999;
    font-weight: 700;
    font-size: 16px;
}
.cart-container .cart-details .price-info .total-price div{
    border-bottom: 1px solid #dee2e6;
}
.cart-container .cart-details .price-info .total{
    margin: 10px 0;
    border-top:4px solid  #dee2e6;
    padding: 10px 0;

}


.cart-container .cart-details .price-info  p{
    text-transform: capitalize;

}
.cart-container .cart-details .price-info .coupon-code{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
}
.cart-container .cart-details .price-info .coupon-code input{
    outline: none;
    border: 2px solid #007fe0;
    padding: 10px;
    border-radius: 20px;
}

.cart-container .cart-details .price-info .coupon-code .apply{
    padding: 0 20px;
}

.cart-container .cart-details .price-info .checkout-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}
.cart-container .cart-details .price-info  .btn{
    border-radius: 20px;

    box-shadow: none;
}



.delete-popup{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    border-radius: 0 ;
    padding: 10px;
    /* z-index: 9999; */
}
.delete-popup .close-modal{
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: 1px solid #007fe0;
    padding: 7px 15px;
    border-radius: 50px;
    transition: all .3s;
    display: flex;
    align-items: center;
}
.delete-popup .close-modal:hover{
    background: #007fe0;
    color: white;
}

.delete-popup .close-modal .icon{
    font-weight: bold;
    color:#007fe0;
    font-size: 18px;



}

.delete-popup .title .icon{
    font-size: 50px;
    color: #f8bb86;
}

.delete-popup .content p{
    text-align: center;
}
.delete-popup  .btn{
    display: flex;
    align-items: center;
  gap: 5px;
  background: #007fe0;
    border-radius: 0;
    box-shadow: none;
    text-transform: capitalize;
    font-family: Poppins,sans-serif;
}
@media (max-width:400px) {
    .delete-popup{
        width: auto;
    }
}

@media (max-width:992px) {
    .cart-container{
        padding: 0;
        z-index: 2000;
    }
.cart-container .cart-details{
border: none;
background: none;
}  
}


@media (min-height:600px) {
 .cart-container   .extra-height{
  height: 70vh !important;
  }
  .cart-container .cart-details .cart-available .extra-height-list{
   height: 30vh !important;

  }
  .cart-container .cart-details .List ul{
  }
  }

@media (min-height:900px) {
     .cart-container .extra-height{
   height: 80vh !important;
   }
   .cart-container .cart-details .cart-available .extra-height-list{
    
   height: 50vh !important;


   }
   }





