@media (max-width:992px) {
    .skeleton{
        position: relative;
        margin-left: 5% !important;
        margin-top: 20px;
    }
}
@media (min-height:500px) {
    .skeleton{
        margin-left: 2% !important;
    }
}