.search-main-container{
    /* height: 380px; */
    /* height: 80vh; */
    /* padding: 20px; */
    height: 380px;
    overflow-y: hidden;
/* border: 1px solid black; */

}
.search-main-container::-webkit-scrollbar {
    display: none;
  }

.search-food-container{
   
position: relative;
border: 1px solid transparent;
}

.search-food-container .search-container{
 
    display: flex;
    align-items: center;
    padding:8px;
    flex: 2;
    overflow: 'auto';
    background: white;
    border-radius: 10px;
    border: 2px solid   #007fe0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    max-height: 65px;

    


}
.search-food-container .search-container .input-box{
    display: flex;
    align-items: center;
    flex:2;
    padding: 10px;
    border-radius: 8px;

}
.search-food-container .search-container .input-box input{
   
    flex: 2;
    border: none;
    outline: none;
    font-size: 16px;
}
.search-food-container .search-container .input-box .close-icon{
    color: black;
    font-size: 20px;  
}
.search-food-container .search-container .search-btn .search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-food-container .search-container .search-btn .search-icon{
    color: #007fe0;
    font-size: 20px;
}
.search-food-container .list{
    overflow-y: auto;
    margin-top: 70px;
height: 320px;

/* background: white; */
/* border-radius: 15px; */
/* border-top-left-radius: 15px; */
/* border-top-right-radius: 15px; */


    /* height: 70vh; */
    /* height: calc(80vh - 65px); */
}
.search-main-container .list::-webkit-scrollbar {
    /* width: 5px; */
    display: none;
  }
.search-food-container .list .no-item-found{
    /* position: absolute; */
    /* left: 50%; */
    /* top: 50%; */
    /* transform: translateX(-50%); */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center; 
    /* height: 80%;
    height: 320px;
    /* gap: 20px; */

}
.search-food-container .list .no-item-found img{
    height: 150px;
    width: 150px;
}

.search-food-container .list .no-item-found .no-item-text{
    font-family: Poppins,sans-serif;
}

.search-food-container .category-list{
    background:white;
    border-radius: 15px;
    margin-bottom: 20px;
    
}

.search-food-container .list .add-btn{
    font-size: 14px;
    font-weight: 500;
    font-family: Poppins,sans-serif;
    /* border-radius: .9em; */
    border: none;
    display: flex
;
    align-items: center;
    border: 1px solid #007fe0;
    overflow: hidden;
}
.search-food-container .list .food-img{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.search-food-container .list .food-img img{
    width: 130px;
    border-radius: 10px;
    height: 130px;
    object-fit: cover;
}
.search-food-container .list .food-img .btn-img{
    margin-top: -20px;
    background: white;
    border-radius: 20px;
    
}
.search-food-container .list .no-img{
    margin-right: 32px;
}



@media (max-width:992px) {
.search-main-container{
height: calc(100vh);
padding: 10px;

}
.search-food-container .list{
    height: 100vh;
}
.search-food-container .list .no-item-found{
    height: 50vh;


}
.search-food-container .list .no-item-found img{
    height: 100px;
    width: 100px;
}
.search-food-container .list .food-img img{
    height: 100px;
    width: 100px;
}
.search-food-container .list .no-img{
    margin-right: 18px;
}
}

@media (max-height:472px) {
    .search-food-container .list .no-item-found{
        justify-content: unset !important;
    
    }
    
}


@media (min-height:600px) {
    .search-main-container{
        height: 70vh;
        padding: 20px;
      
    
    }
    .search-food-container .list{
     
        height: 60vh;
        height: calc(70vh - 65px);
    }
}

@media (min-height:900px) {
    .search-main-container{
        height: 80vh;
        padding: 20px;
      
    
    }
    .search-food-container .list{
     
        height: 70vh;
        height: calc(80vh - 65px);
    }
}